{include file='view/cabecalho.html'}

<form method="post">
    <label>Nome Área</label>
    <input type='text' name="area"/>
    <input type='submit'  value='salvar'/>
</form>
<hr/>

<table border='1'>
    <tr>
        <th>Nome da área</th>
        <th>Ações</th>        
    </tr>
      
    {foreach from=$lista item=row}
    <tr>
        <td>{$row.nome_area}</td>
        <td>Edit | <a href='?del={$row.cod_area}'>Delete</a></td>
    </tr>
    {/foreach}
</table>




{include file='view/rodape.html'}
            
            
