{include file='view/cabecalho.html'}
<form method="post">
    <label>Trabalho:</label>
        <select name="trabalho">
            {foreach from=$lst item=t}
                <option value='{$t.cod_trabalho}'>{$t.titulo}</option>
            {/foreach}
        </select>
    <br/>
    
    <label>Área:</label>
        <select name="area">
            {foreach from=$lsa item=a}
                <option value='{$a.cod_area}'>{$a.nome_area}</option>
            {/foreach}
        </select>
    <br/>   
    <input type='submit' value='salvar'>
</form>
<hr/>
<table border='1'>
    <tr>
        <th>Trabalho</th>
        <th>Área</th>
        <th>Ações</th>
    </tr>
    
   {foreach from=$lista item=row}
    <tr>
        <td>{$row.titulo}</td>
        <td>{$row.nome_area}</td>
        <td>Edit | <a href='?del={$row.cod_trabalho}&del2={$row.cod_area}'>Delete</a></td>
    </tr>
    {/foreach}
   
</table>

{include file='view/rodape.html'}